html, body {
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
    font-size: 16px;
}
input[type="radio"] {
	display: none;
}
input[type="radio"] + label {
    float: left;
    width: 50%;
}
input[type="radio"] + label > img {
    box-sizing: border-box;
    width: 100%;
}
input[type="radio"]:checked + label > img {
	border: 3px solid #FF6161;
}
p {
	margin: 0;
}
.clear {
    clear: both;
    display: block;  
    content: "";
    width: 100%;  
}
.page {
	display: none;
}
h1 {
    color: #2F2E2E;
    font-weight: 700;
    font-size: 2.5rem;
    margin: 1rem;
}
h3 {
    font-size: 1.875rem;
    margin: 1rem;
    color: #2f2e2e;
}
p, label {
    color: #2F2E2E;
}
#contentFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
#contentFile + label {
    color: white;
    background-color: #FF6161;
    padding: 1rem 1rem;
    margin: 1rem;
}
#uploadContainer {
    display: inline-block;
}
#templateContainer {
    margin: 1rem;
    width: calc(100% - 2rem);
    display: inline-block;
}
#templateContainer + button {
    display: block;
}
input[type=text], input[type=email] {
    border-radius: 0;
    border: 1px solid grey;
    color: black;
    padding: 1rem 1rem;
    margin: 1rem;
    box-sizing: border-box;
}
input[type=text]:focus, input[type=email]:focus {
    border-color: #FF6161;
    outline: none;
}
button {
    border-radius: 0;
    border: 0;
    background-color: #878787;
    color: white;
    padding: 1rem 2.5rem;
    margin: 1rem;
}
button:hover {
    background-color: #FF6161;
}
input[type=checkbox] {
}
input[type=checkbox] + label {
}
input[type=checkbox]:checked + label {
}
input[type=checkbox] + label + button {
    padding: 0.25rem 1rem;
    margin: 0 0.5rem;
}
label {
    color: black;
}
p {
    margin-left: 1rem;
    color: black;
}
#progress_switcher {
    width: 100%;
}
#progress_switcher > div {
    background-color: #878787;
    width: 25%;
    text-align: center;
    padding: 1rem 0;
    float: left;
}
#progress_switcher > div:hover {
    background-color: #FF6161 !important;
}
#progress_switcher > div:first-of-type {
    background-color: #FF6161;
}
#progress_switcher p, #progress_switcher h4 {
    margin: 0;
    color: white;
}
.page[data-page='2'] > div {
    margin-left: 1rem;
}
.page[data-page='4'] > div {
    float: left;
}
.page[data-page='4'] > div > p {
    padding: 2rem 0.5rem;
}
#progress-wrp {
    border: 1px solid #0099CC;
    padding: 1px;
    position: relative;
    height: 30px;
    border-radius: 3px;
    margin: 10px;
    text-align: left;
    background: #fff;
    box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
    display: none;
}
#progress-wrp .progress-bar{
    height: 100%;
    border-radius: 3px;
    background-color: #f39ac7;
    width: 0;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
}
#progress-wrp .status{
    top:3px;
    left:50%;
    position:absolute;
    display:inline-block;
    color: #000000;
}